{% extends "base.html" %}

{% block title %}Inicio | NutriApp{% endblock %}

{% block content %}
<h2 class="text-center mb-4">Bienvenido a NutriApp</h2>
<p class="text-center">Tu herramienta personalizada para mejorar tu nutrición y salud.</p>

<div class="row mt-5">
    <div class="col-md-4">
        <div class="card">
            <img src="/static/img/perdidadepeso.jpg" class="card-img-top" alt="Perder peso">
            <div class="card-body">
                <h5 class="card-title">Perder peso</h5>
                <p class="card-text">Reduce peso de manera segura con planes alimenticios personalizados.</p>
            </div>
        </div>
    </div>

    <div class="col-md-4">
        <div class="card">
            <img src="/static/img/musculo.png" class="card-img-top" alt="Ganar músculo">
            <div class="card-body">
                <h5 class="card-title">Ganar masa muscular</h5>
                <p class="card-text">Entrena y come para aumentar tu masa muscular sin perder salud.</p>
            </div>
        </div>
    </div>

    <div class="col-md-4">
        <div class="card">
            <img src="/static/img/mantener.png" class="card-img-top" alt="Mantener peso">
            <div class="card-body">
                <h5 class="card-title">Mantener peso</h5>
                <p class="card-text">Equilibra tu dieta y conserva un estilo de vida saludable.</p>
            </div>
        </div>
    </div>
</div>
{% endblock %}
